* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: calc(100% - 50px);
  margin: 0 auto;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .to__do-list {
    width: 336px;
    min-height: 236px;
    max-height: 400px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    .yellow {
      height: 26px;
      background-color: #ffdc40;
      border-radius: 10px 10px 0 0;
    }
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      margin-top: 13px;
    }
    .to__do-box {
      .icon {
        text-align: end;
        i {
          color: #c4c4c4;
          font-size: 22px;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &:hover {
            color: #000;
          }
        }
      }
      form {
        margin-top: 10px;
        .list__box {
          border: 1px solid #c4c4c4;
          border-radius: 10px;
          min-height: 30px;
          max-height: 200px;
          overflow: hidden;
          .to__do-input {
            display: flex;
            justify-content: space-around;
            align-items: center;
            input {
              border: none;
              width: 80%;
              padding: 10px;
              outline: none;
              border-radius: 10px;
              background: transparent;
            }
            .del {
              font-size: 20px;
              color: #c4c4c4;
              cursor: pointer;
              margin-right: 10px;
              transition: 0.3s ease-in-out;
              &:hover {
                color: #000;
              }
            }
          }
          .list {
            max-height: 190px;
            overflow-y: auto;
            &::-webkit-scrollbar {
              width: 2px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #ffdc40;
            }
            ul {
              max-height: 150px;
              li {
                padding: 10px 20px;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                i {
                  color: #c4c4c4;
                  transition: 0.3s ease-in-out;
                  cursor: pointer;
                  &:hover {
                    color: #000;
                  }
                }
              }
            }
          }
        }

        .btn__box {
          display: flex;
          justify-content: center;
          align-items: center;
          .btn {
            padding: 10px 20px;
            width: 200px;
            margin: 20px 0;
            background-color: #833ae0;
            cursor: pointer;
            border-radius: 71px;
            color: #fff;
            border: none;
            position: relative;
            background: linear-gradient(
              169deg,
              rgba(2, 2, 2, 1) 0%,
              rgba(180, 47, 194, 1) 50%,
              rgba(2, 2, 2, 1) 98%
            );
            i {
              position: absolute;
              top: 0;
              right: 0;
              padding: 12px;
              font-size: 14px;
              border-radius: 50%;
              background-color: #9953f1;
              transition: 0.5s ease-in-out;
              background: linear-gradient(
                169deg,
                rgba(2, 2, 2, 1) 0%,
                rgba(180, 47, 194, 1) 50%,
                rgba(2, 2, 2, 1) 98%
              );
            }
            .effect {
              right: 164px;
            }
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
